/* CSS */
.star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  vertical-align: middle;
}

.star label {
  height: 25px;
  width: 25px;
  position: relative;
  cursor: pointer;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star label:after {
  transition: all 1s ease-out;
  position: absolute;
  content: "☆";
  color: orange;
  font-size: 32px;
}

.star input:checked + label:after,
.star input:checked ~ label:after {
  content: "★";
  color: gold;
  text-shadow: 0 0 10px gold;
}
